html {
    background-color: #F8F8F8;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: underline;
  } 
  
a:hover {
    color: #007db5;
    text-decoration-color: #a2dffb;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.headshot{
    border: 10px solid #ffffff;
    border-radius: 50%;
    max-width: 60%;
}

.wrapper-text {
    width: 80%;
    max-width: 420px;
    height: 200x;
    margin: 60px auto;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    line-height: 40px;
}

.description{
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 600px) {
    .wrapper{
        margin-top: 60px;
    }

    h1{
        font-size: 28px;
    }

    .description{
        font-size: 16px;
        line-height: 28px;
    }
}
